@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body{
  background-color: aqua;
}
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.heado{
  font-family: 'Lobster', cursive;
  text-align: center;
  color: rgb(255, 255, 255) ;
  text-shadow: 5px 5px 10px black;
  font-size: 40px;
}
.container{
  background-color: rgba(0, 0, 0, 0.815);
  color: white;
  width: 40vw;
  margin-top: 40px;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgb(0, 0, 0);
}
.cont{
  padding:30px 40px;
}
.btn1{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color:rgba(0, 0, 0, 0.137) ;
  color: white;
  border: 3px solid white;
  font-size: 20px;
  padding: 11px 36px;
  border-radius: 5px;
  margin-right:27px ;
  cursor: pointer;
  box-shadow: 0 10px 10px 0 rgba(7, 7, 7, 0.466);
}
.btn1:hover{
  background-color: black;
  border-color: white;

}
input{
  padding: 15px 50px 15px 100px;
  border-radius: 50px;
  color: white;
  border:none ; 
  background-color: rgb(19, 16, 16);
  box-shadow: 0 10px 10px 0 rgba(7, 7, 7, 0.404);
}
.searchcont{
  display: inline-block;
  height: 10vh;
}
.searche{
  box-shadow: 0 10px 10px 0 rgba(27, 25, 25, 0.678);
  padding: 7px;
  border-radius: 100px;
  background-color: rgba(26, 22, 22, 0.986);
  border:none;
  margin-left: 10px;
}


.searche:hover{
  background-color: rgb(15, 14, 14);
}

@media screen and (max-width:1000px) {
   .container{
     width: 80%;
   }
}

@media screen and (max-width:500px) {

  .container{
    position: relative;
  }
  input{
    margin-top: 30px;
    padding:15px 0 15px 50px;
  }
  
}